<div class="widget_boardGallery" {% if not widget_option.pagination %} id='widget_scroll' {% endif %}>
  <!-- {% if widget_option.title or widget_option.title_sub %} -->
  <div class="widget_title_tab" *ngIf='widget.widget_option.title || widget.widget_option.title_sub' style="text-align:{{widget_option.title_align}}">
      <span class="widget_title">{{widget_option.title}}</span>
      <span class="widget_title_sub">{{widget_option.title_sub}}</span>
  </div>
  <!-- {% endif %} -->
  
  <div class="widget_container">

      <!-- <div class="widet_option">
          <div style="flex-grow:1;"></div>
          <select id='widget_sort_{{widget_id}}' onchange='change_sort_{{widget_id}}()'>
              <option>최근 리뷰 많은순</option>

              <option>리뷰 많은순</option>
              <option>최신 상품순</option>
              <option>상품 이름순</option>
              <option>최신 리뷰순</option>
              <option>리뷰 평점순</option>
              <option>최근 판매량순</option>
              
          </select>
      </div> -->

      <div class="widget_m">
          <img class="navigation_arrow arrow_left"
              src="https://saladlab.s3.ap-northeast-2.amazonaws.com/media/static/left_arrow_background.png"/>
          <img class="navigation_arrow arrow_right"
              src="https://saladlab.s3.ap-northeast-2.amazonaws.com/media/static/right_arrow_background.png"/>
      </div>
      <div id='widget_review_{{widget_id}}'>
          <div class="widget_container">
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <!-- {% for product_list in data_list %} -->
                      <ng-container *ngFor='let product of product_dummy_data'>
                        <div class="swiper-slide widget_w">
                            <!-- {% for product in product_list %} -->
                            <ng-container *ngFor='let review of product.review_list'>
                              <div class="widget_item">
                                  <div class="widget_item_img_noticeBox">
                                      <div class="widget_item_product_img"
                                          style="background-image:url('{{product.list_image}}')">
                                          <div class="scroll_display">
                                              <img class="navigation_arrow arrow_left"
                                                  src="https://saladlab.s3.ap-northeast-2.amazonaws.com/media/static/left_arrow_background.png"/>
                                              <img class="navigation_arrow arrow_right"
                                                  src="https://saladlab.s3.ap-northeast-2.amazonaws.com/media/static/right_arrow_background.png"/>
                                          </div>
                                      </div>
                                      <div class="widget_item_optionbox">

                                          <div class="product_info">
                                              <!-- {% if widget_option.product_name %} -->
                                              <div class="widget_item_product_info_name" *ngIf='widget_option.product_name'>{{product.product_name}}</div>
                                              <!-- {% endif %} -->
                                              <!-- {% if widget_option.product_price %} -->
                                              <div class="product_price" *ngIf='widget_option.product_price'>
                                                  <!-- {{product.price|Comma}}원 -->
                                                  {{product.price.Comma}}
                                              </div>
                                              <!-- {% endif %} -->
                                              <div class="ect_container">
                                                  <div class="widget_total_ratings_star">
                                                      <div class="widget_total_ratings_star_empty">
                                                          <div class="widget_total_ratings_star_container">
                                                              <!-- {% include 'module/alph_star_empty_new.html' %} -->
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_empty">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_2"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_empty">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_2"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_empty">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_2"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_empty">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_2"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_empty">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_2"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                          </div>
                                                      </div>

                                                      <div class="widget_total_ratings_star_full" style="width:{{product.review_ratings.rating_width}}%">
                                                          <div class="widget_total_ratings_star_container">
                                                              <!-- {% include 'module/alph_star_full_new.html' %} -->
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_full">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_1"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_full">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_1"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_full">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_1"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_full">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_1"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.521 37.608"
                                                                  class="alph_star_full">
                                                                  <defs></defs>
                                                                  <path class="section_highlight_star_1"
                                                                      d="M21.788,1.93l4.43,8.86c.308.625.787,1.377,1.477,1.477l9.6,1.477c1.737.253,2.733,2.467,1.477,3.692L31.386,24.08a2.924,2.924,0,0,0-.738,2.215l2.215,9.6c.3,1.73-2.138,3.031-3.692,2.215l-8.86-4.43a1.243,1.243,0,0,0-1.477,0l-8.86,4.43a2.033,2.033,0,0,1-2.953-2.215l1.477-9.6A2.924,2.924,0,0,0,7.76,24.08L.377,17.435C-.88,16.209.116,14,1.853,13.743l9.6-1.477c.69-.1,1.168-.852,1.477-1.477l4.43-8.86A2.668,2.668,0,0,1,21.788,1.93Z"
                                                                      transform="translate(0.188 -0.75)" />
                                                              </svg>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- {% if widget_option.ratings %} -->
                                                  <div class="review_ratings" *ngIf='widget_option.ratings'>
                                                      {{product.review_ratings}}
                                                  </div>
                                                  <!-- {% endif %} -->

                                                  <!-- {% if widget_option.ratings %} -->
                                                  <div class="review_number" *ngIf='widget_option.ratings'>
                                                      {{product.review_number.Comma}}개
                                                  </div>
                                                  <!-- {% endif %} -->
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                                  <div style="flex-basis: 92%; margin-right:30px">
                                      <div class="widget_item_review_container">
                                          <!-- {% for review in product.review_list %} -->
                                          <div class="widget_item_review" *ngFor='let review of product.review_list'>
                                              <div style="margin-right:10px; ">
                                                  <!-- {% if review.type != 3 and widget_option.ratings %} -->
                                                  <div class="review_star_container" *ngIf='review.type != 3 && widget.widget_option.ratings'>
                                                      <!-- {% for i in review.ratings|range_n%} -->
                                                      <div *ngFor='let i of range(review.ratings)'>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                                                            <path fill="none" d="M0 0H14V20H0z" />
                                                            <!-- <path fill='{{design.color_1}}'
                                                                d="M7.294 11.03L2.967 13.3l.827-4.81-3.5-3.409 4.837-.7L7.294 0l2.163 4.379 4.837.7-3.5 3.409.826 4.812z"
                                                                transform="translate(-.294 3.349)" /> -->
                                                        </svg>
                                                      </div>
                                                      <!-- {% endfor %}
                                                      {% for i in review.ratings|range_r:5 %} -->
                                                      <div *ngFor='let i of range(review.ratings)'>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                                                            <path fill="none" d="M0 0H14V20H0z" />
                                                            <!-- <path fill="#e6e9ec"
                                                                d="M7.294 11.03L2.967 13.3l.827-4.81-3.5-3.409 4.837-.7L7.294 0l2.163 4.379 4.837.7-3.5 3.409.826 4.812z"
                                                                transform="translate(-.294 3.349)" /> -->
                                                        </svg>
                                                      </div>
                                                      <!-- {% endfor %} -->
                                                  </div>
                                                  <!-- {% endif %} -->
                                                  <div>
                                                      <!-- {% if design.writer_display == 'name' %} -->
                                                      <div class="widget_item_username" *ngIf='design.writer_display == name'>
                                                          <span class="widget_item_username_1">{{design.name_text}}
                                                          </span>
                                                          <span class="widget_item_username_2">
                                                              <!-- {{review.user_name | name_shorten2:design.writer_encrypt}} -->
                                                          </span>
                                                      </div>

                                                      <!-- {% endif %} -->

                                                      <!-- {% if design.writer_display == 'id' %} -->
                                                      <div class="widget_item_username" *ngIf='design.writer_display == id'>
                                                          <span class="widget_item_username_1">{{design.id_text}}
                                                          </span>
                                                          <span class="widget_item_username_2">
                                                              <!-- {{review.user_id | name_shorten2:design.writer_encrypt}} -->
                                                          </span>
                                                      </div>
                                                      <!-- {% endif %} -->
                                                  </div>
                                              </div>
                                              <div class="widget_item_review_text"
                                                  style="flex-basis: 75%; margin-right: 20px;">
                                                  <div style="margin-bottom:5px" *ngIf='widget.widget_option.product_option'>
                                                      <!-- {% if widget_option.product_option %} -->
                                                      {{review.product_option}}
                                                      <!-- {% endif %} -->
                                                  </div>
                                                  <div>{{review.content}}</div>
                                              </div>
                                              <div style="flex-basis: 1%; ">
                                                  <!-- {% if review.review_media.all|length == 1 %}
                                                  {% if review.review_video.all and review.review_video.all.0.thumbnail %} -->
                                                  <!-- <img src="https://saladlab.s3.ap-northeast-2.amazonaws.com/media/images/video_text.png" style="    width: 8px;
                                                          height: 10px;
                                                          position: absolute; margin-left: 17px; margin-top:13px"> -->
                                                  <!-- <video autoplay loop muted src="{{review.review_video.all.0.thumbnail.url}}" style="width:38px; height:38px"> -->
                                                  <!-- {% elif review.review_media.all.0 %} -->
                                                  <!-- <img src="{{review.review_media.all.0.middle.url}}" style="width:38px; height:38px"> -->
                                                  <!-- {% endif %} -->
                                                  <!-- {% elif review.review_media.all|length > 1 %} -->
                                                  <div style="width:38px; height:38px">
                                                      <!-- {% if review.review_video.all and review.review_video.all.0.thumbnail %} -->
                                                      <!-- <img src="https://saladlab.s3.ap-northeast-2.amazonaws.com/media/images/video_text.png" style="    width: 8px;
                                                              height: 10px;
                                                              position: absolute; margin-left: 17px; margin-top:13px"> -->
                                                          <!-- <video autoplay loop muted src="{{review.review_video.all.0.thumbnail.url}}" style="width:38px; height:38px"> -->

                                                          <!-- {% elif review.review_media.all.0 %} -->
                                                          <!-- <img src="{{review.review_media.all.0.middle.url}}" style="width:38px; height:38px; position: absolute;"> -->
                                                          <!-- <img src="https://saladlab.s3.ap-northeast-2.amazonaws.com/media/images/images_16.png" style="    width: 8px;
                                                                  height: 8px;
                                                                  position: absolute; margin-left: 26px; margin-top:5px"> -->
                                                          <!-- {% endif %} -->
                                                  </div>
                                                  <!-- {% endif %} -->
                                              </div>
                                          </div>
                                          <!-- {% endfor %} -->
                                      </div>

                                  </div>
                              </div>
                            </ng-container>
                            <!-- {% endfor %} -->
                        </div>
                      </ng-container>
                      <!-- {% endfor %} -->

                      <!--
                      {% for review_list in data_list %}
                      <div class="swiper-slide widget_m widget_heigth_size">
                          {% for product in review_list %}

                          <div class="widget_item">
                              <div class="widget_item_product_img_m"
                                  style="background-image:url('{{product.list_image}}')"></div>


                              {% if widget_option.ratings or widget_option.review_num %}
                              <div class="widget_item_summary">

                                  <div class="widget_item_product_info">

                                      <div class="widget_item_product_info_name">{{product.product_name}}</div>

                                      <div class="widget_item_product_info_price">{{product.price}}원</div>
                                  </div>
                                  <div style="display: flex; margin-bottom:5px;">
                                      {% if widget_option.ratings %}
                                      <div class="widget_total_ratings_star">
                                          <div class="widget_total_ratings_star_empty">
                                              <div class="widget_total_ratings_star_container">
                                                  {% include 'module/alph_star_empty.html' %}
                                              </div>
                                          </div>

                                          <div class="widget_total_ratings_star_full"
                                              style="width: {{product.review_ratings|floatformat:1|rating_width}}%">
                                              <div class="widget_total_ratings_star_container">
                                                  {% include 'module/alph_star_full.html' %}
                                              </div>
                                          </div>
                                      </div>


                                      <div class='widget_item_summary_ratings_2'>
                                          {{product.review_ratings|floatformat:1}}</div>
                                      {% endif %}
                                      <div style="flex-grow:1"></div>
                                      {% if widget_option.review_num %}
                                      <div class='widget_item_summary_num_2'>
                                          {{product.review_number|floatformat:"0"}}개</div>
                                      {% endif %}
                                  </div>
                              </div>
                              {% endif %}
                              <div class="widget_item_review_container">
                                  {% for review in product.review_list %}
                                  <div class="widget_item_review">
                                      {% if review.review_video.all and review.review_video.all.0.thumbnail %}
                                      <div class="widget_item_review_image">
                                          <video autoplay loop muted playsinline class="lozad">
                                              <source data-src="{{review.review_video.all.0.thumbnail.url}}"
                                                  type="video/mp4">
                                          </video>
                                      </div>
                                      {% elif review.review_media.all.0 %}
                                      <div class="widget_item_review_image">
                                          <img data-src='{{review.review_media.all.0.thumbnail.url}}' class="lozad">
                                      </div>
                                      {% else %}
                                      <div class="widget_item_review_image" style="background-color:#f0f0f0">
                                          <img src='{{product.list_image}}' style="opacity:0.4">
                                      </div>
                                      {% endif %}

                                      <div class="widget_item_review_text_m">{{review.content}}</div>
                                  </div>
                                  {% endfor %}
                              </div>
                          </div>

                          {% endfor %}
                      </div>
                      {% endfor %}
                      -->
                  </div>
              </div>


          </div>

          <div class="more_btn">더 보기 +</div>

          <div class="swiper-indicator-wrapper" style="display: flex;">
              <div class="swiper-indicator"></div>
          </div>
      </div>
  </div>
</div>